/* CSS for animations in "Work element" */
.work {
  margin: 10px;
  width: 334px;
  height: 334px;
  user-select: none;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.59);
  box-shadow: 2px 4px 10px 1px rgb(0 0 0 / 59%);
  border-radius: 14px;
}

.work img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 14px;
}

.hover-absolute-card {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 14px;
  padding: 30px;
  background-color: #701919;
  opacity: 0.9;
  color: #951717;

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='400' height='400' preserveAspectRatio='none' viewBox='0 0 400 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1075%26quot%3b)' fill='none'%3e%3crect width='400' height='400' x='0' y='0' fill='rgba(112%2c 25%2c 25%2c 1)'%3e%3c/rect%3e%3cpath d='M40 400L440 0L671 0L271 400z' fill='url(%23SvgjsLinearGradient1076)'%3e%3c/path%3e%3cpath d='M392 400L-8 0L-153.5 0L246.5 400z' fill='url(%23SvgjsLinearGradient1077)'%3e%3c/path%3e%3cpath d='M121.33350280114183 400L400 121.33350280114183L400 400z' fill='url(%23SvgjsLinearGradient1076)'%3e%3c/path%3e%3cpath d='M0 400L278.66649719885817 400L 0 121.33350280114183z' fill='url(%23SvgjsLinearGradient1077)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1075'%3e%3crect width='400' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1076'%3e%3cstop stop-color='rgba(221%2c 23%2c 23%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(221%2c 23%2c 23%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1077'%3e%3cstop stop-color='rgba(221%2c 23%2c 23%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(221%2c 23%2c 23%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

  text-align: center;
  visibility: hidden;

  /* opacity: 0; */
  animation-name: aa;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
.work:hover .hover-absolute-card {
  /* visibility: unset; */
  /* opacity: 1; */

  animation-name: bb;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes bb {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: unset;
    opacity: 1;
  }
}

@keyframes aa {
  from {
    visibility: unset;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.work h3 {
  margin-bottom: 2.5rem;
  color: rgb(255, 255, 255);
}

.work a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.work span {
  background: transparent;
  padding: 4px 10px;
  border: 2px solid #fdfdfd;
  border-radius: 14px;
  cursor: pointer;
}

.work span:hover {
  background-color: #d3cdcd;
  color: rgb(22, 22, 22);
  transition: all 250ms ease-in-out;
}

.SpanElementContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.SpanElementContainer span a i {
  color: #ffffff;
}
